@model MITAdmissionSystemApp.Models.Registration

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Masterlayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameofApplicant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameofApplicant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParmanentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParmanentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSCSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSCSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSCYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSCYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSCGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSCGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSCPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSCPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HSCCollege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSCCollege)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HSCYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSCYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HSCGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSCGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HSCPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HSCPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BachelorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BachelorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BachelorUniversity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BachelorUniversity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BachelorYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BachelorYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BachelorGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BachelorGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterUniversity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterUniversity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterGrade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
